{% load static %}

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'website/icon.svg' %}" type="image/svg+xml">

    <title>Weather Mini Challenge</title>

    <link rel="canonical" href="">

    <!-- CSS -->
    {% include 'website/includes/stylesheet.html' %}
</head>

<body>
    <!-- NAVBAR -->
    {% include 'website/includes/nav.html' %}

    {% block content %}{% endblock %}

    <!-- FOOTER -->
    {% include 'website/includes/footer.html' %}

    <!--  JAVASCRIPT -->
    {% include 'website/includes/javascript.html' %}

</body>
</html>
