.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    border: 0;
    font-weight: 400;
}

.card.weather-card .degree:after {
    content: "%";
    position: absolute;
    font-size: 1rem;
    margin-top: 12px;
    font-weight: 400;
}

small.week {
    font-weight: bolder;
    padding: 1px 4px 1px 4px;
    color: #ffffff;
    background-color: #007bff;
    position: absolute;
    top: 0;
    right: 0;
}
.week-rain {
    background-color: #DC3545 !important;
}
/* Sticky footer styles
-------------------------------------------------- */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}